.contact-menu {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-inline-start: 10px;
flex-direction: column;
margin-bottom: 10px;
}

.contact-menu a {
  margin: 0 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.contact-menu p {
  margin-top: 10px;
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.contact-menu a:hover {
  color: #ccc;
}

.contact-menu a.active {
  color: #ccc;
} 

.contact-container {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contact-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: large;
}

.contact-container button {
  width: 100%;
  padding: 10px;
  background-color: lightgray;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

.contact-container button:hover {
  background-color: #ccc;
}

.contact-container span {
  text-align: center;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 10px;
}

.contact-container .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}