.current {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.current h1 {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current h2 {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.current img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}


