/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  font-family: sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

/* ProductList Styles */
.product-list-body {
  margin: 0 auto;
  padding: 0;
  background: #fff;
  width: 90%;
}

.product-list-content {
  text-align: center;
  margin-bottom: 30px;
}

.product-list-header {
  font-size: 42px;
  text-align: center;
  margin-bottom: 20px;
}

.product-list-products-container {
  margin: 20px auto;
  max-width: 100%;
  overflow: hidden;
}

.product-list-category-section {
  margin-bottom: 40px;
}

.product-list-category-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.product-list-product-card {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-list-product-image {
  width: 100%;
  height: 250px; 
  object-fit: contain;
  border-radius: 8px;
}

.product-list-product-info {
  text-align: center;
  flex-grow: 1;
}

.product-list-product-title {
  font-size: 1.2rem;
  margin: 10px 0;
  font-weight: bold;
}

.product-list-product-description {
  font-size: 0.9rem;
  color: #666;
  margin: 10px 0;
}

.product-list-product-price {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
  color: #007bff;
}

.product-list-product-auction {
  color: #ff0000;
  font-weight: bold;
  margin: 5px 0;
}

.product-list-product-actions {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.product-list-product-button,
.product-list-product-details-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  text-decoration: none;
  text-align: center;
}

.product-list-product-button:hover,
.product-list-product-details-button:hover {
  background-color: #0056b3;
}

/* Slick Slider Arrow Styles */
.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.next-slick-arrow,
.prev-slick-arrow {
  color: #000000;
  font-size: 45px;
  z-index: 5; /* Ensure arrows are on top of other elements */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slick-next {
  right: 10px !important;
  z-index: 5; /* Ensure visibility over other elements */
}

.slick-prev {
  left: 10px !important;
  z-index: 5; /* Ensure visibility over other elements */
}

.slick-next:hover .next-slick-arrow,
.slick-prev:hover .prev-slick-arrow {
  color: #007bff;
}
